---
import Layout from "../layouts/Layout.svelte"
import Nav from "../components/Nav.svelte"
import Button from "../components/Button/Button.svelte"
---

<Layout title="About me">
        <Nav />
        <div>
            <Button type="primary" idleLabel="Resume" hoveredLabel="Explore My Journey" />
            <Button type="secondary" idleLabel="Secondary" hoveredLabel="Secondary Lagi" />
        </div>
</Layout>