@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  }

  ::-moz-selection {
    background: #FFF56A;
  }
  
  ::selection {
    background: #FFF56A;
  }
}

