---
import "../main.css";
import "remixicon/fonts/remixicon.css";
import Nav from "../components/Nav/Nav.svelte";
import Footer from "../components/Footer.svelte";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tebe Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../main.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="max-w-full overflow-x-hidden text-content-primary">
    <Nav client:idle />
    <slot />
    <Footer />
  </body>
</html>
